<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="masthead-text welcome-banner">Welcome</h1>
            <span class="masthead-text welcome-offical">to the blog of</span>
            <h2 class="name-header masthead-text welcome-name">Jason Kroening</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (var i = blogposts.length -1; i >= 0; i--) { %>
          <div class="post-preview">
            <a href="/post/<%= blogposts[i]._id %>">
              <h2 class="post-title">
                <%= blogposts[i].title %>
              </h2>
              <!-- <h3 class="post-subtitle">
                <%- blogposts[i].body %>
              </h3> -->
            </a>
            <p class="post-meta">Posted on
              <a href="#"><%= blogposts[i].username %></a>
              <%= blogposts[i].datePosted.toDateString() %>
            </p>
          </div>
          <hr>
          <% } %>
      </div>
    </div>
  </div>
  <hr>
<%- include('layouts/footer') %>
<%- include('layouts/scripts') -%>
</body>
</html>
